@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  /* border: 2px solid red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #e2ce1a;
}

.box {
  display: flex;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.leftBox {
  width: 304px;
  height: 555px;
  background-color: #36320a;
  border-radius: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 42px;
}

.rightBox {
  width: 640px;
  height: 555px;
  background-color: #fefaa1;
  border-radius: 0 16px 16px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0 12px 0 53px;
}

.logo {
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.text h1 {
  font-weight: 700;
  font-size: 26px;
}

.text p {
  font-weight: 500;
  font-size: 23px;
}

.loginBtn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 28px 0 44px;
}

.loginBtn button {
  width: 232px;
  height: 70px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 30px;
  border: 4px solid #fff;
}

.loginBtn p {
  align-self: center;
  font-weight: 500;
  font-size: 17px;
  color: white;
  padding-bottom: 38px;
}
